// font sizes,

$header1: 2.6rem;
$header2--sml: 1.6rem;
$header2--bg: 2.6rem;
$header3: 1.1rem;
$text--sml: 1.3rem;
$text--bg: 1.6rem;
$main-text: 1.5rem;

//main font-face

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$main-font: "Space Mono", monospace;
